
{% extends "base.html" %}

{% load staticfiles %}

{% block csslink %}
<link href="{% static 'diamond/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main>
    <div class="back-line">
        <h1><a href="#">Свадьба, продуманная до мелочей!</a></h1>
    </div>
    <div class="main-pict"></div>
    <hr class="line">
    <div class="info-picts">
         <figure>
            <figcaption>
                 <a href="#">Свяжитесь с нами</a> и назначьте встречу, чтобы всё обсудить и подписать договор
            </figcaption>
             <img src="{% static 'diamond/svg/info_icons/1.svg'%}" height="70px" width="65px" alt="Свяжитесь с нами">
         </figure>
         <figure>
            <figcaption>
                 Ваш личный менеджер подберёт вместе с Вами площадку для банкета и сопроводит Вас
            </figcaption>
             <img src="{% static 'diamond/svg/info_icons/2.svg'%}" height="50px" width="110px" alt="Площадка для банкета">
         </figure>
         <figure>
            <figcaption>
                 Наши декораторы и флористы продумают индивидуальную концепцию Вашей свадьбы
            </figcaption>
             <img src="{% static 'diamond/svg/info_icons/3.svg'%}" height="60px" width="130px" alt="Концепция вашей свадьбы">
         </figure>
          <figure>
            <figcaption>
                 Мы подберём опытную команду для Вашей свадьбы
            </figcaption>
             <img src="{% static 'diamond/svg/info_icons/4.svg'%}" height="70px" width="120x" alt="Опытная команда">
         </figure>
          <figure>
            <figcaption>
                 Закажите дополнительно автомобили, торт и другое
            </figcaption>
             <img src="{% static 'diamond/svg/info_icons/5.svg'%}" height="85px" width="130px" alt="Автомобиль, тор и другое">
         </figure>
         <figure>
            <figcaption>
                 Наслаждайтесь свадьбой, обо всем остальном позаботятся наши умелые организаторы
            </figcaption>
             <img src="{% static 'diamond/svg/info_icons/6.svg'%}" height="72px" width="87px" alt="Автомобиль, тор и другое">
         </figure>
    </div>
    <div class="sum"></div>
    <div class="price-info">
            <p class="price">50 000 руб.</p>
            <!-- &#8381; -->
            <p>Стоимость организации свадьбы в агенстве &laquo;Diamond Wedding&raquo; фиксирована</p>
            <p>Вы можете ознакомиться подробнее с нашими <a href="#">услугами</a>, а также со статьёй о том, <a href="#">сколько стоит свадьба</a></p>
    </div>
     <hr class="line">
</main>
<div class="about">
    <div class="abt-left">
        <h2><a href="#">О нас</a></h2>
        <p class="artcl">Наше свадебное агентство специализируется на организциии свадеб. Мы любим создавать стильные праздники, считаем, что детали играют огромную роль, а каждая свадьба, как и история любви, должна быть особенной.</p>
        <p class="artcl">Наши клиенты получают абсолютную уверенность в том, что их мероприятие пройдет на самом высоком уровне, команда будет работать слаженно, все возникшие вопросы решены вовремя и, что самое главное, профессионально.</p>
        <p class="citate">Я считаю, что при подготовке к свадьбе мелочей не бывает и быть не может! Наверное поэтому наши свадьбы и получаются безупречными.</p>
        <p class="sign"><b>Анна Боченкова</b><br>
        <span>Руководитель свадебного агентства &laquo;Diamond Wedding&raquo;</span></p>
    </div>

    <div class="abt-right">
        <video width="570" height="320" preload="metadata" poster="{% static 'common-static/video/poster.png'%}" controls>
             <source src="{% static 'common-static/video/movie.mp4'%}" />
             <source src="{% static 'common-static/video/movie.webm'%}"  type='video/webm; codecs="vp8, vorbis"' />
             <source src="{% static 'common-static/video/movie.ogv'%}"    type='video/ogg; codecs="theora, vorbis"'/>
        </video>
    <!--<object id="videoplayer715" type="application/x-shockwave-flash" data="../player/uppod.swf" width="570" height="320">
        <param name="bgcolor" value="#ffffff" />
        <param name="allowFullScreen" value="true" />
        <param name="allowScriptAccess" value="always" />
        <param name="movie" value="../player/uppod.swf" />
        <param name="flashvars" value="comment=Diamond Wedding&amp;st=../player/style/styles-for-video-player.txt&amp;file=video/movie.mp4" /></object>-->
    </div>
</div>
{% endblock %}
